@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color-scheme: dark light;
}

body[data-theme="dark"] {
    background-color: #151515;
    color: #f7fafc;
}

body[data-theme="light"] {
    background-color: #f7fafc;
    color: #1a202c;
}